@{
    Layout = "~/Views/Shared/SignedInLayout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Confirmation</title>
</head>
<body>
    <div>
        <p>Your order has been placed and an email has been sent.</p>
    </div>
</body>
